.publish {
  background-color: #ebedee;
}

.publish .container {
  max-width: 1280px;
  margin: 40px auto 20px;
  padding: 0 40px;
}

.publish .title {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  padding: 40px 0 30px;
  font-weight: 400;
}

.publish .box-file {
  border-radius: 5px;
  background-color: #fff;
  padding: 24px;
  margin: 20px 0;
  box-shadow: 0 0 2px grey;
}

.box-file .box-file-wrapper img {
  height: 90%;
  margin: 0 10px;
}

.box-file .box-file-wrapper .remove-img-box {
  position: relative;
  color: #000;
  background-color: #fff;
  right: 30px;
  bottom: 88px;
  font-family: "Montserrat", sans-serif;
  height: 25px;
  line-height: 25px;
  width: 30px;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}

.box-file .box-file-wrapper {
  border-radius: 5px;
  border: 1px dashed #ebedee;
  border-radius: 3px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.publish .box-file .box-file-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0ab1ba;
  border-radius: 4px;
  height: 45px;
  width: 200px;
}

.publish .box-file .box-file-btn label {
  cursor: pointer;
  color: #0ab1ba;
  font-weight: 700;
}

.publish .box-file .box-file-btn label span {
  margin: 0 10px;
  vertical-align: middle;
  font-family: "Montserrat", sans-serif;
}

.publish .box-file .box-file-btn label .label-file-icon {
  font-size: 25px;
}

.publish .box-file .box-file-btn .input-file {
  display: none;
}

.publish .box-text-content {
  background-color: #fff;
  margin: 20px 0;
  box-shadow: 0 0 2px grey;
  border-radius: 5px;
}

.publish .box-text-content .box-text {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  border-bottom: 1px solid #ebedee;
}

.publish .box-text-content .box-text label {
  font-weight: 400;
  height: 25px;
  margin: 0;
  vertical-align: baseline;
  font-family: "Montserrat", sans-serif;
}

.publish .box-text-content .box-text input,
.publish .box-text-content .box-text textarea {
  width: 50%;
  border: none;
  height: 25px;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.publish .box-text-content .box-text textarea {
  height: 100px;
}

.publish .box-text-content .box-text input:focus-visible,
.publish .box-text-content .box-text textarea:focus-visible {
  border-bottom: 1px solid #0ab1ba;
  outline: 0;
}

.publish .box-text-content .box-text input::placeholder,
.publish .box-text-content .box-text textarea::placeholder {
  color: #949697;
}

.publish .box-btn {
  display: flex;
  justify-content: flex-end;
}

.publish .box-btn .form-validation {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  outline: inherit;
  padding: 12px;
  background-color: #0ab1ba;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin: 30px 0;
  cursor: pointer;
}
